.nav {
  background: purple;
  margin: 0px;
}
.nav li {
  display: inline-block;
}
.nav a {
  text-decoration: none;
  color: pink;
  padding: 10px;
  text-align: center;
}
.page1 {
  height: 900px;
  background: #cce6ff;
}
.page2 {
  height: 900px;
  background: #ffce99;
}
.page3 {
  height:900px;
  background: #ccff99;
}
