.nav {
    margin: 0;
  width: 80%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.page1 {
  height: 900px;
  background: #cce6ff;
}
.page2 {
  height: 900px;
  background: #ffce99;
}
.page3 {
  height:900px;
  background: #ccff99;
}
